/* ================================
   GLOBAL RESET
================================ */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background: #080807;
}

html.theme-light,
html.theme-light body {
    background: #ffffff;
}

body {
    overflow-x: hidden;
}